<div *ngIf='game'>
  <mat-card>
    <mat-card-title>
      <mat-form-field>
        <input matInput [disabled]="!editing" (change)="updateGame()" [(ngModel)]="game.title">
      </mat-form-field>
    </mat-card-title>
    <mat-card-content>
      <textarea matInput [disabled]="!editing" (change)="updateGame()" [(ngModel)]="game.description"></textarea>
    </mat-card-content>
    <input matInput [hidden]="!editing" (change)="updateGame()" [(ngModel)]="game.uri">
    <a href="{{game.uri}}">
      <button mat-button>
        <mat-icon aria-hidden="false">open_in_new</mat-icon>
        <p>Open Website</p>
      </button>
    </a>
    <mat-card-actions align="end">
      <button mat-button (click)="edit()">
        <mat-icon aria-hidden="false">edit</mat-icon>
      </button>
      <button mat-button (click)="deleteGame()">
        <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf='!game'>
  <h2>There is no game with this ID</h2>
</div>
