<div *ngIf='room'>
  <mat-card>
    <mat-card-title>
      <mat-form-field>
        <input matInput [disabled]="!editing" (change)="updateRoom()" [(ngModel)]="room.name">
      </mat-form-field>
    </mat-card-title>
    <mat-card-content>
      <mat-card-title>Capacity</mat-card-title>
      <mat-form-field>
        <input matInput [disabled]="!editing" (change)="updateRoom()" [(ngModel)]="room.capacity" type="number">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="edit()" [class.highlighted]="editing">
        <mat-icon aria-hidden="false">edit</mat-icon>
      </button>
      <button mat-button (click)="deleteRoom()">
        <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf='!room'>
  <h2>There is no room with this ID</h2>
</div>
