<div *ngIf='member'>
  <div *ngIf='!editing'>
    <h2>{{member.name}}</h2>
    <h3>{{member.role}}</h3>
    <button (click)="edit()">Edit</button>
  </div>
  <div *ngIf='editing'>
    <input id="name" [(ngModel)]="member.name" placeholder="{{member.name}}" minlength="4" maxlength="50">
    <input id="role" [(ngModel)]="member.role" placeholder="{{member.role}}" minlength="4" maxlength="50">
    <button (click)="updateMember()">Save</button>
  </div>
  <button (click)="deleteMember()">Delete</button>
</div>
<div *ngIf='!member'>
  <h2>There is no member with this ID</h2>
</div>