<div *ngIf='member'>
  <div *ngIf='!editing'>
    <h2>{{member.name}}</h2>
    <h3>Role</h3>
    <p>{{member.role}}</p>
    <button (click)="edit()">Edit</button>
  </div>
  <div *ngIf='editing'>
    <input id="name" [(ngModel)]="member.name" placeholder="{{member.name}}" minlength="4" maxlength="50">
    <h3>Role</h3>
    <mat-form-field appearance="outline">
      <mat-select [(value)]="member.role">
        <mat-option value="HCU">HCU</mat-option>
        <mat-option value="TL">TL</mat-option>
        <mat-option value="MEMBER">MEMBER</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="updateMember()">Save</button>
  </div>
  <button (click)="deleteMember()">Delete</button>
</div>
<div *ngIf='!member'>
  <h2>There is no member with this ID</h2>
</div>
