<div *ngIf='meeting'>
  <div *ngIf='!editing'>
    <h2>Teammeeting {{meeting.timeInMillis | date:'dd.MM.y, HH:mm'}}</h2>

    <h3 *ngIf='game'>Game</h3>
    <p *ngIf='game'>{{game.title}}</p>

    <h3 *ngIf='room'>Room</h3>
    <p *ngIf='room'>{{room.name}}</p>

    <h3>Topics</h3>
    <ol>
      <li *ngFor="let topic of topics">{{topic.title}}</li>
    </ol>
    <button (click)="edit()">Edit</button>
  </div>
  <div *ngIf='editing'>
    <input type="date" [ngModel]="meetingDate | date:'dd.MM.yyyy'" (ngModelChange)="setMeetingDate($event)"/>
    <input type="time" [ngModel]="meetingTime | date: 'HH:mm'" (ngModelChange)="setMeetingTime($event)"/>
    <!--
      <input id="gameTitle" [(ngModel)]="game.title" placeholder="{{game.title}}" minlength="4" maxlength="50">

      TODO: add useful way to edit date and dropdown for available games/rooms/topics
    -->
    <h3>Game</h3>
    <select [(ngModel)]="meeting.gameId">
      <option *ngFor="let game of allGames" [ngValue]="game.id">
        {{ game.title }}
      </option>
    </select>

    <h3>Room</h3>
    <select [(ngModel)]="meeting.roomId">
      <option *ngFor="let room of allRooms" [ngValue]="room.id">
        {{ room.name }}
      </option>
    </select>

    <h3>Topics</h3>
    <div *ngIf='meeting.topicIds'>
      <select *ngFor="let t of topics" [(ngModel)]="meeting.topicIds[topics.indexOf(t)]">
        <option *ngFor="let topic of allTopics" [ngValue]="topic.id">
          {{ topic.title }}
        </option>
      </select>
    </div>
    <button (click)="addTopic()">Add Topic</button>
    <button (click)="updateMeeting()">Save</button>
  </div>
  <button (click)="deleteMeeting()">Delete</button>
</div>
<div *ngIf='!meeting'>
  <h2>There is no meeting with this ID</h2>
</div>
