<div *ngIf='meeting'>
  <mat-card>
    <mat-card-title>
      Teammeeting am {{meeting.timeInMillis | date:'dd.MM.y, HH:mm'}}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field [hidden]="!editing">
        <input matInput [hidden]="!editing" [disabled]="!editing" type="date"
               [ngModel]="meetingDate | date:'yyyy-MM-dd'"
               (ngModelChange)="setMeetingDate($event)"/>
        <input matInput [hidden]="!editing" [disabled]="!editing" type="time" [ngModel]="meetingTime | date: 'HH:mm'"
               (ngModelChange)="setMeetingTime($event)"/>
      </mat-form-field>

      <mat-card-title>Game</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-select [(value)]="meeting.gameId" [disabled]="!editing">
          <mat-option *ngFor="let game of allGames" [value]="game.id">
            {{ game.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-title>Room</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-select [(value)]="meeting.roomId" [disabled]="!editing">
          <mat-option *ngFor="let room of allRooms" [value]="room.id">
            {{ room.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-title>Topics</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let topic of topics; index as i">
          {{topic.title}}
          <button mat-button (click)="removeTopic(i)">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>

      <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedTopic" [disabled]="!editing">
          <mat-option *ngFor="let topicOption of allTopics" [value]="topicOption">
            {{ topicOption.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button [disabled]="!editing" (click)="addTopic()">
        <mat-icon aria-hidden="false">add</mat-icon>
      </button>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="edit()">
        <mat-icon aria-hidden="false">edit</mat-icon>
      </button>
      <button mat-button (click)="deleteMeeting()">
        <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf='!meeting'>
  <h2>There is no meeting with this ID</h2>
</div>
